<blox [editing]="true">
    <blox-row *ngFor="let row of rows" [id]="row.id" [height]="row.height" [position]="row.position">
        <blox-column *ngFor="let column of row.columns" [id]="column.id" [fill]="column.fill" [font]="column.font" [width]="column.width" [stroke]="column.stroke">
            <blox-banner [font]="column.banner">
                {{ column.label }}
            </blox-banner>

            <blox-value *ngIf="column.type == 'value'" [font]="column.font">
                100%
            </blox-value>
        </blox-column>
    </blox-row>
</blox>