<blox [editing]="true">
    <blox-row *ngFor="let row of rows" [rowId]="row.rowId" [height]="row.height" [position]="row.position">
        <blox-column *ngFor="let column of row.columns" [columnId]="column.columnId" [fill]="column.fill" [width]="column.width" [stroke]="column.stroke" [position]="column.position">
            <blox-banner [font]="column.banner">
                {{ column.label }}
            </blox-banner>

            <blox-text *ngIf="column.type == 'text'" [font]="column.font" [banner]="column.banner">
                {{ column.text.value }}
            </blox-text>

            <blox-value *ngIf="column.type == 'value'" [font]="column.font" [innerHtml]="column.value.value"></blox-value>

            <blox-chart *ngIf="column.type == 'chart'" [id]="column.columnId">
                <blox-series *ngFor="let series of column.chart.series" [id]="series.id" [type]="series.type" [label]="series.label" [color]="series.color" [opacity]="series.opacity">
                    <blox-point *ngFor="let point of series.data" [date]="point.date" [value]="point.value"></blox-point>
                </blox-series>

                <blox-legend></blox-legend>
            </blox-chart>

            <blox-gauge *ngIf="column.type == 'gauge'" [id]="column.columnId" [min]="column.gauge.min" [max]="column.gauge.max" [endAngle]="column.gauge.endAngle" [startAngle]="column.gauge.startAngle">
                <blox-gauge-hand *ngFor="let hand of column.gauge.hands" [id]="hand.id" [value]="hand.value" [color]="hand.color" [opacity]="hand.opacity"></blox-gauge-hand>
                <blox-gauge-range *ngFor="let range of column.gauge.ranges" [id]="range.id" [end]="range.end" [color]="range.color" [start]="range.start" [opacity]="range.opacity"></blox-gauge-range>
            </blox-gauge>

            <blox-image *ngIf="column.type == 'vector'" [src]="column.vector.src"></blox-image>
        </blox-column>
    </blox-row>
</blox>