<blox [editing]="true">
    <blox-row *ngFor="let row of rows" [id]="row.id" [height]="row.height" [position]="row.position">
        <blox-column *ngFor="let column of row.columns" [id]="column.id" [fill]="column.fill" [font]="column.font" [width]="column.width" [stroke]="column.stroke">
            <blox-banner>
                {{ column.label }}
            </blox-banner>

            <blox-chart *ngIf="column.type == 'chart'" [id]="column.id" [font]="column.font">
                <blox-series *ngFor="let series of column.series" [id]="series.id" [type]="series.type" [label]="series.label" [color]="series.color" [opacity]="series.opacity">
                    <blox-point *ngFor="let point of series.data" [date]="point.date" [value]="point.value"></blox-point>
                </blox-series>
            </blox-chart>

            <blox-value *ngIf="column.type == 'value'" [font]="column.font">
                {{ column.value }}
            </blox-value>
        </blox-column>
    </blox-row>

    <blox-row type="static">
        <blox-column  fill="{'color': '#FFFFFF', 'opacity': 25}" width="100" (click)="export()">
            <blox-value>
                export
            </blox-value>
        </blox-column>
    </blox-row>
</blox>